/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
   
    margin: 0;
    padding: 0;
}
.back {
    background-image: url('assets/duotone (1).png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    
    opacity: 0.4;
    position: absolute;
    
}
/* Confirmation Section */
.confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.confirmation h1 {
    font-size: 36px;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    
}

/* Button */
.btn {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #ff0000;
}

.btn.btn-primary {
    background-color: #007bff;
}
h1{
    background-color: yellowgreen;
}