/*Allow users to enter their personal and payment information:*/
 
#booking-form {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

#booking-form label {
  display: block;
  margin-bottom: 10px;
}

#booking-form input[type="text"], #booking-form input[type="email"], #booking-form input[type="tel"], #booking-form input[type="month"], #booking-form input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#booking-form input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


